*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}

h1, h2{
    text-align: center;
    margin: 1vh;
    
}


#game-container{
    height: 50%;
    width: 80%;
    border: 2px solid white;
    margin: 5%;
    padding: 5vw;
    padding-top: 2%;
    
}
#dice-container{
    height: 50%;
    width: auto;
    border: 2px dashed white;
    
}

.dice{
    position: relative;
    border: solid 2px white;
    height: 20vh;
    width: 25vh;
    margin: 3vh;
    margin-top: 10vh;
    display:inline-block; /* Align rectangles side by side */
    border-radius: 5%; /*make dice corners round*/
    text-align: center;
    font-size: 6rem;
    padding-top: 5vh;

}

.keep{
    position: absolute;
    top :0;
    right: 0;
    margin-right: 5px; /* Adjust spacing from the right edge */
    margin-top: 5px; /* Adjust spacing from the top edge */
    
}

